RewriteEngine on

# Rewrite URL as a query parameter for index.php
RewriteCond %{REQUEST_URI} !^/static
RewriteCond %{REQUEST_URI} !^/files/(([\w-_,\ ]+\.)*[\w-_,\ ]+\/)+([\w-_,\ ]+\.)*[\w-_,\ ]+$
RewriteRule ^([^/]*)$ index.php?file=$1 [L,QSA]

# Forbid non-existing URLs
RewriteCond %{REQUEST_URI} !^/static
RewriteCond %{REQUEST_URI} !^/files/(([\w-_,\ ]+\.)*[\w-_,\ ]+\/)+([\w-_,\ ]+\.)*[\w-_,\ ]+$
RewriteRule .* "-" [F]
